*.toc
*.aux
*.pdf
*.ps
*.log
*.dvi
*.tex~
*.synctex.gz
*.ou
*.blg
*.bbl
*-blx.bib
*.run.xml
*.bcf
*.xwm
*.el
*.gz
*.out
*.thm
*.auxlock
*.snm
*.nav
*.fls
*.fdb_latexmk
*.JPG
*.jpg
*.png
*.eps
*.fig

*.md5
*.dpth
*.dep

*.*#

.DS_Store

*~
*autosave

old/
tests/
manuscript/
